
@{
    ViewBag.Title = "Index";
}

<h2>Hostel Management</h2>

@Html.ActionLink("Allocation", "Index", "Allocation", new {  /* id=item.PrimaryKey */ }, null) <br />
@Html.ActionLink("Employees", "Index", "Employees", new { /* id=item.PrimaryKey */ }, null) <br />
@Html.ActionLink("Furniture", "Index", "Furniture", new {  /* id=item.PrimaryKey */ }, null)<br />
@Html.ActionLink("Furniture Type", "Index", "FurnitureType", new {  /* id=item.PrimaryKey */ }, null)<br />
@Html.ActionLink("Hostel", "Index", "Hostel", new {  /* id=item.PrimaryKey */ }, null)<br />
@Html.ActionLink("Payment", "Index", "Payment", new {  /* id=item.PrimaryKey */ }, null)<br />
@Html.ActionLink("Room", "Index", "Room", new {  /* id=item.PrimaryKey */ }, null)<br />
@Html.ActionLink("Students", "Index", "Students", new {  /* id=item.PrimaryKey */ }, null)<br />
@Html.ActionLink("Visitor", "Index", "Visitor", new {  /* id=item.PrimaryKey */ }, null)
