@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>@Page.Title</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href=@Url.Content("~/Content/css/reset.css") type="text/css" media="all">
    <link rel="stylesheet" href=@Url.Content("~/Content/css/layout.css") type="text/css" media="all">
    <link rel="stylesheet" href=@Url.Content("~/Content/css/style.css") type="text/css" media="all">
    <script src=@Url.Content("~/Content/js/jquery-1.6.js")></script>
    <script src=@Url.Content("~/Content/js/cufon-yui.js")></script>
    <script src=@Url.Content("~/Content/js/cufon-replace.js")></script>
    <script src=@Url.Content("~/Content/js/Didact_Gothic_400.font.js")></script>
    <script src=@Url.Content("~/Content/js/jquery.nivo.slider.pack.js")></script>
    <script src=@Url.Content("~/Content/js/atooltip.jquery.js")></script>
    <script src=@Url.Content("~/Content/js/jquery.jqtransform.js")></script>
    <script src=@Url.Content("~/Content/js/script.js")></script>
    <script src=@Url.Content("~/Content/js/jquery.easing.1.3.js")></script>
    <!--[if lt IE 9]>
    <script src=@Url.Content("~/Content/js/html5.js")></script>
    <style type="text/css">.bg{behavior:url("js/PIE.htc");}</style>
    <![endif]-->

</head>
<body id="page1">
    <div class="body1">
        <div class="main">
            <!-- header -->
            <header>
                <h1><a href="index.html" id="logo"></a></h1>
                <div class="wrapper">
                    <ul id="icons">
                        <li><a href="#" class="normaltip"><img src=@Url.Content("~/Content/images/icon1.jpg") alt=""></a></li>
                        <li><a href="#" class="normaltip"><img src=@Url.Content("~/Content/images/icon2.jpg") alt=""></a></li>
                        <li><a href="#" class="normaltip"><img src=@Url.Content("~/Content/images/icon3.jpg") alt=""></a></li>
                    </ul>
                </div>
                <nav>
                    <ul id="menu">
                        <li><a href="~/Home/Index">Home</a></li>

                        <li>
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("Logout", "Signout", "Login", new {  /* id=item.PrimaryKey */ }, null)
                            }
                            else
                            {
                                @Html.ActionLink("Login", "Add", "Login", new {  /* id=item.PrimaryKey */ }, null)
                            }
                        </li>
                        <li><a href="~/Students/Index">Profile</a></li>
                        <li><a href="~/Visitor/Index">Visitors</a></li>
                        <li><a href="~/Payment/Index">Payment</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="~/Contact/Index">Contact Us</a></li>

                    </ul>
                </nav>
            </header>
            <!-- / header -->
        </div>
    </div>
    <!-- content -->
    <div class="body2">
        <div class="main">
            <section id="content">
                <div class="wrapper">
                    <article class="col1">
                        @*<div id="slider">
                            <img src=@Url.Content("~/Content/images/img1.jpg") alt="" title="<strong>Villa Neverland, 2006</strong><span>9 rooms, 3 baths, 6 beds, building size: 5000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 600 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                            <img src=@Url.Content("~/Content/images/img2.jpg") alt="" title="<strong>Villa Lipsum, 2008</strong><span>8 rooms, 4 baths, 4 beds, building size: 4500 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 500 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                            <img src=@Url.Content("~/Content/images/img3.jpg") alt="" title="<strong>Villa Dolor Sid, 2007</strong><span>11 rooms, 3 baths, 5 beds, building size: 6000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 650 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                            <img src=@Url.Content("~/Content/images/img4.jpg") alt="" title="<strong>Villa Nemo Enim, 2010</strong><span>5 rooms, 2 baths, 4 beds, building size: 3000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 400 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                            <img src=@Url.Content("~/Content/images/img5.jpg") alt="" title="<strong>Villa Nam Libero, 2003</strong><span>7 rooms, 4 baths, 6 beds, building size: 7000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 700 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                            </div>*@


                    </article>
                </div>
            </section>
        </div>
    </div>
    <div class="wrapper">
    </div>
    <!-- / content -->
    <div class="body4">
        <div class="main">
            <!-- footer -->
            <footer>

                <a href="~/Home/Index">Home</a>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Signout", "Signout", "Login", new {  /* id=item.PrimaryKey */ }, null)
                }
                else
                {
                    @Html.ActionLink("Login", "Add", "Login", new {  /* id=item.PrimaryKey */ }, null)
                }


                <a href="#">About Us</a>
                <a href="~/Contact/Index">Contact Us</a>
                <!-- {%FOOTER_LINK} -->
            </footer>
            <!-- / footer -->
        </div>
    </div>
    <script>Cufon.now();</script>
    <script>
$(window).load(function () {
    $('#slider').nivoSlider({
        effect: 'sliceUpDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'
        slices: 17,
        animSpeed: 500,
        pauseTime: 6000,
        startSlide: 0, //Set starting Slide (0 index)
        directionNav: false, //Next & Prev
        directionNavHide: false, //Only show on hover
        controlNav: true, //1,2,3...
        controlNavThumbs: false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel: false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav: true, //Use left & right arrows
        pauseOnHover: true, //Stop animation while hovering
        manualAdvance: false, //Force manual transitions
        captionOpacity: 1, //Universal caption opacity
        beforeChange: function () {
            $('.nivo-caption').animate({
                bottom: '-110'
            }, 400, 'easeInBack')
        },
        afterChange: function () {
            Cufon.refresh();
            $('.nivo-caption').animate({
                bottom: '-20'
            }, 400, 'easeOutBack')
        },
        slideshowEnd: function () {} //Triggers after all slides have been shown
    });
    Cufon.refresh();
});
    </script>
</body>
</html>


